rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /state/main {
      allow read, write: if request.auth != null
        && request.auth.uid in ['SWNOoQ2jESbAYndKSrjn8IashRy1', 'LebxC4ZYjdQJw81kTYamZcJLWIh1'];
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
